<!DOCTYPE html>
<html>
<head>
  <title>Tickle</title>
  <%= stylesheet_link_tag    "tickle/application", media: "all" %>
  <%= javascript_include_tag "tickle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
