<h1>Taco Insurance Company of Kentucky and Lower Europe</h1>

<section class="create">
  <h2>Your price </h2>

  <section class="price">
    $<%= @price %>
  </section>

  <h3>Contact a representive for more information!</h3>
</section>
