<h1>Taco Insurance Company of Kentucky and Lower Europe</h1>
<section class="index">
  <h2>Revolutionizing the way individuals receive insurance premiums. Have your claims paid in tacos!</h2>
  <h3>Receive a free quote today</h3>

  <% if flash[:errors] %>
  <ul class="errors">
    <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
    <% end %>
  </ul>
  <% end %>

  <form action="<%= pricings_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <section class="age">
      <label>Age</label>
      <input type="number" name="pricings[age]" placeholder="Enter your age" value="">
    </section>

    <section class="gender">
      <label>Gender</label>
      <section>
        <section>
          <input type="radio" name="pricings[gender]" value="Female">
          <label>Female</label>
        </section>
        <section>
          <input type="radio" name="pricings[gender]" value="Male">
          <label>Male</label>
        </section>
      </section>
    </section>

    <section class="conditions">
      <label>Conditions</label>
      <section>
        <input class="pointer" type="checkbox" name="pricings[conditions][]" value="Allergies">
        <label>Allergies</label>
      </section>
      <section>
        <input class="pointer" type="checkbox" name="pricings[conditions][]" value="Heart Disease">
        <label>Heart Disease</label>
      </section>
      <section>
        <input class="pointer" type="checkbox" name="pricings[conditions][]" value="Sleep Apnea">
        <label>Sleep Apnea</label>
      </section>
    </section>
    <section class="button">
      <input class="pointer" type="submit" value="Get a free quote">
    </section>
    <form>
</section>
