/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body, head, h1, form, ul, li, input, label, option, h2, h3, h4, section {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing:content-box;
  background: transparent;
  line-height: normal;
  list-style: none;
  font-family: sans-serif;
  font: inherit;
}

body {
  background: #66c8c9;
}

.index {
  width: 90%;
  height: 67.5vh;
  background: white;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 300px;
}

h1, h2, h3 {
  text-align: center;
  color: #4d4d4d;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-size: 18px;
  margin-top: 10px;
}

h3 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  border: 1px solid #66c8c9;
  border-top-width: thick;
  border-bottom-width: thick;
  border-radius: 4px;
  padding: 24px;
}

.age, .conditions, .gender {
  display: flex;
  border: 1px solid grey;
  flex-direction: column;
  border-radius: 4px;
}


.age label, .conditions > label, .gender > label {
  font-weight: bold;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.age input {
  padding: 10px;
}

select {
  width: 100px;
}

.conditions, .gender {
  margin-top: 20px;
}

.conditions section, .gender section {
  margin: 5px 0 0 5px;
}

.conditions section:last-child, .gender section:last-child {
  margin-bottom: 5px;
}

.pointer:hover {
  cursor: pointer;
}

.button {
  height: 22px;
  margin: 20px 0 20px 0;
}

input[type="submit"] {
  width: 100%;
  background: #ee7832;
  box-shadow: 0 6px 0 #b65c27;
  border-radius: 4px;
  color: white;
  padding: 10px 0px;
  font-weight: bold;
}

input[type="submit"]:hover {
  transition: 0.5s;
  transform: scaleX(3px);
  box-shadow: 0 3px 0 #b65c27;
  margin-top: 3px;
}
